.search-bar__header {
    padding: 20px 20px;
    /* border-bottom: solid 1px rgb(240, 239, 239); */
}


.search-bar__btn {
  background: rgb(168,87,209);
  background: linear-gradient(-90deg, #df8817, #a857d1, #9381ff, #169c59);
  background-size: 800% 800%;

    -webkit-animation: bgColorChange 50s ease infinite;
    -moz-animation: bgColorChange 50s ease infinite;
    -o-animation: bgColorChange 50s ease infinite;
    animation: bgColorChange 50s ease infinite;
}

@-webkit-keyframes bgColorChange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes bgColorChange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-o-keyframes bgColorChange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes bgColorChange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  

  .search-bar__btn:hover {
    opacity: .70;
    color: white;
    transition: .5s;
    
}

.search-bar__btn:focus {
    color: white;
    transition: .5s;
}