@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;700;900&family=Montserrat:wght@100;400;900&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
*/


/*——————————————————————————————————————————————————  
Global / Modifiers
——————————————————————————————————————————————————*/
h1 {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #44388a;
    font-size: 1.1rem;
    align-self: center;
    text-transform: uppercase;
}

p {
    font-family: 'Inter', sans-serif;
}

/* Resets margins for level */
.level:not(:last-child) {
    margin: 0;
}

.full-percent-height {
    height: 100%;
}

.input::placeholder {
    color: rgb(150, 150, 150);
}

.flex-vertical-center {
    align-self: center;
}





/*——————————————————————————————————————————————————  
Header
——————————————————————————————————————————————————*/
.header-style {
    padding: 10px 20px;
    border-bottom: solid 1px rgb(240, 239, 239);
    /* force specificity override for the Bulma level class */
    margin-bottom: 12px !important;  
}


/* Resets Bulma Font Sizes */
.input,
.button {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    border-radius: 0;
    transition: .5s;
}

.button {
    background-color: #a857d1;
    border-color: #a857d1;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    min-width: 120px;
}

.button:hover {
    background-color: #44388a;
    border-color: #44388a;
    color: white;
    transition: .5s;
}

.input:focus {
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.15);
    border-color: white;
    font-size: 20px;
    transition: .5s;
}





/*——————————————————————————————————————————————————  
Locations
——————————————————————————————————————————————————*/
.locations--bg {
    height: 100vh;
    background: rgb(168,87,209);
    background: -moz-linear-gradient(0deg, rgba(168,87,209,1) 0%, rgba(147,129,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(168,87,209,1) 0%, rgba(147,129,255,1) 100%);
    background: linear-gradient(0deg, rgba(168,87,209,1) 0%, rgba(147,129,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a857d1",endColorstr="#9381ff",GradientType=1);
}



/*——————————————————————————————————————————————————  
Results
——————————————————————————————————————————————————*/
.results--bg {
    background: rgb(239,236,255);
    background: -moz-linear-gradient(0deg, rgba(239,236,255,1) 0%, rgba(252,251,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(239,236,255,1) 0%, rgba(252,251,255,1) 100%);
    background: linear-gradient(0deg, rgba(239,236,255,1) 0%, rgba(252,251,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efecff",endColorstr="#fcfbff",GradientType=1);  
}



/*—————————————————————————————————————————————————— 
 —————————————————————————————————————————————————— 
 —————————————————————————————————————————————————— 
Media Queries
—————————————————————————————————————————————————— 
—————————————————————————————————————————————————— 
——————————————————————————————————————————————————*/
@media screen and (max-width: 768px) {
    h1 {
        text-align: center;
        margin-bottom: -10px;
        margin-top: 5px;
        font-size: 1.4rem;

    }
}