@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;700;900&family=Montserrat:wght@100;400;900&display=swap');

/* ——————————————————————————————————————————————————————————————
Variables 
—————————————————————————————————————————————————————————————— */
:root {
  --primary-color: #44388a;
  --primary-light-color: rgba(68, 56, 138, 0.4);
  --secondary-color: #a857d1;
  --text-grey-color: #4a4a4a;
}

/* ——————————————————————————————————————————————————————————————
Base 
—————————————————————————————————————————————————————————————— */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: rgb(168,87,209);
  /* background: -moz-linear-gradient(0deg, rgba(168,87,209,1) 0%, rgba(147,129,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(168,87,209,1) 0%, rgba(147,129,255,1) 100%);
  background: linear-gradient(0deg, rgba(168,87,209,1) 0%, rgba(147,129,255,1) 100%); */

  background: linear-gradient(177deg, #a857d1, #9381ff, #1a8ddb);
    background-size: 800% 800%;

    -webkit-animation: bgColorChange 55s ease infinite;
    -moz-animation: bgColorChange 55s ease infinite;
    -o-animation: bgColorChange 55s ease infinite;
    animation: bgColorChange 55s ease infinite;
}

@-webkit-keyframes bgColorChange {
  0%{background-position:49% 0%}
  50%{background-position:52% 100%}
  100%{background-position:49% 0%}
}
@-moz-keyframes bgColorChange {
  0%{background-position:49% 0%}
  50%{background-position:52% 100%}
  100%{background-position:49% 0%}
}
@-o-keyframes bgColorChange {
  0%{background-position:49% 0%}
  50%{background-position:52% 100%}
  100%{background-position:49% 0%}
}
@keyframes bgColorChange {
  0%{background-position:49% 0%}
  50%{background-position:52% 100%}
  100%{background-position:49% 0%}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.g__full-percent-height {
  height: 100%;
}

.g__main-wrapper {
  padding: 50px;
}

.g__sidebar-container {
    max-width: 250px;
}

.g__results-container {
    background: white;
    border-radius: 10px;
    box-shadow: ;
}


/* ——————————————————————————————————————————————————————————————
Typography 
—————————————————————————————————————————————————————————————— */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  /* color: var(--primary-color); */
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  line-height: 1.1;
}





/* ——————————————————————————————————————————————————————————————
Bulma Overrides  
—————————————————————————————————————————————————————————————— */

.input,
.button {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    border-radius: 0;
    transition: .5s;
}

.button {
    background-color: #a857d1;
    border-color: #a857d1;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    min-width: 120px;
    white-space: normal;
}

.button:hover {
    background-color: #44388a;
    border-color: #44388a;
    color: white;
    transition: .5s;
}

.button:focus {
    color: white;
    transition: .5s;
}

.input:focus {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.15);
    border-color: white;
    font-size: 22px;
    transition: .5s;
}